# Node dependencies
node_modules/
npm-debug.log

# Flutter / Dart build outputs and IDEs
.dart_tool/
.fvm/
.idea/
.vscode/
.pub-cache/
.pub/
build/
ephemeral/

# Packages file
.packages

# Symbol files
*.S
*.bc
*.c
*.cc
*.class
*.d
*.dylib
*.exe
*.o
*.so

# Translation temp files
.g.dart

# Android build files
android/.gradle/
android/local.properties
android/app/build/
android/app/Flutter/build/

# iOS / macOS build files
ios/Pods/
ios/Frameworks/
ios/.symlinks/
ios/Runner/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcworkspace/
macos/Pods/

# Web build files
web/build/
